<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
    <title>JobScapePage</title>
  </head>
  <body>
    <main class="container">
      <h1>Search Result for "{{keyword}}":</h1>
      <figure>
        <table role="grid">
          <thead>
            <tr>
              <th>Title</th>
              <th>Company</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            {% for job in jobs %}
            <tr>
              <td>{{job.Title}}</td>
              <td>{{job.Company}}</td>
              <td><a href="{{job.Link}}" target="_blank">Apply Now 👈</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </figure>
    </main>
  </body>
</html>
